.user-card {
    width: 200px;
    height: 67.69px;
    background-color: #D9EAF7;
    margin: 100px auto 0px;
    padding: 5px 6px 7px 7px;
    box-sizing: border-box;
}

.user-card-head {
    color: #6A737C;
    font-size: 12px;
    margin: 1px 0 4px 0;
}

.user-card-body-photo img {
    width: 32px;
    height: 32px;
    border-radius: 3px;
}

.user-card-body-photo {
    float: left;
}

.user-card-body-info {
    float: left;
    margin-left: 8px;
}

.user-card-body-info-username {
    height: 16px;
    line-height: 16px;
}

.user-card-body-info-username > a {
    color: #0074CC;
    font-size: 13px;
    text-decoration: none;
}

.user-card-body-info-reputation {
    font-size: 12px;
    color: #838c95;
    height: 16px;
    line-height: 16px;
}

.user-card-body-info-reputation-item {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 6px;
    margin: 0 3px 0 2px;
    position: relative;
    top: -2px;
}

.user-card-contributor {
    width: 200px;
    height: 30px;
    background-color: #d0e3f1;
    margin: 0px auto;
    padding: 6px 8px;
    box-sizing: border-box;
}

.user-card-contributor-lable {
    font-size: 13px;
    color: #3B4045;
    height: 18px;
    line-height: 18px;

    /* 下面这两行代码可以实现svg图片旁边文字的剧中对齐 */
    display: inline-flex;
    align-items: center;
}